.headerWrapper {
  display: flex;
  width: 100%;
  padding: 30px;
}

.label {
  font-size: 13px;
  margin: 0;
}

.email {
  max-width: 330px;
}

.headerTitle {
  width: 230px;
  font-weight: bold;
}

.textWrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  width: 250px;
}
