.smallCard {
  width: 375px;
  height: 300px;
  padding: 30px;
  margin: 30px;
}

.bigCard {
  width: 780px;
  height: 300px;
  padding: 30px;
  margin: 30px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 23px;
  margin-left: 30px;
}

.apdex {
  font-size: 16px;
  color: #4a4a4a;
  opacity: 62%;
  line-height: 19px;
}

.name {
  font-size: 13px;
  color: #4a4a4a;
  line-height: 19px;
}
