.wrapper {
  background-color: #e6e6e6;
  max-width: 840px;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
}

li {
  list-style: none;
}

.grid:nth-child(even) {
  margin-left: 30px;
}

.list {
  list-style: none;
  width: 100%;
}
